<html ng-app>
 <title>Generador de series de 12 tonos</title>
 <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
  <link rel="stylesheet" href="../s.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8">
  <script src="12tone.js"> </script>
 </head>
 <body>
 <h1> Generador de series dodecafónicas </h1>
  <div class="content" ng-controller="_12toneController">
   <h2 id="heading">Matriz</h2>
   
   <table class="matriz-table" title="Las filas son transposiciones y las columnas son inversas. Las retrogradas se encuentran solo leyendo alreves.">
     <thead>
       <tr>
         <th></th>
         <th></th>
         <th ng-repeat="j in [0,1,2,3,4,5,6,7,8,9,10,11]" class="interval-header">
           {{ getHeaderInterval(j) }}
         </th>
         <th></th>
       </tr>
       <tr>
         <th></th>
         <th></th>
         <th ng-repeat="j in [0,1,2,3,4,5,6,7,8,9,10,11]">
           <button class="play-btn" ng-class="{'playing': isPlayingCol(j)}" ng-click="playCol(j)" title="Play Column">&#9660;</button>
         </th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11]">
         <th class="interval-header">{{ getRowInterval(i) }}</th>
         <th>
           <button class="play-btn" ng-class="{'playing': isPlayingRow(i)}" ng-click="playRow(i)" title="Play Row">&#9654;</button>
         </th>
         <td ng-repeat="j in [0,1,2,3,4,5,6,7,8,9,10,11]" class="matrix-cell" ng-style="getCellStyle(serie.Matrix[i][j])">
           {{ notation[serie.Matrix[i][j]] }}
         </td>
         <th>
           <button class="play-btn" ng-class="{'playing': isPlayingRowReverse(i)}" ng-click="playRowReverse(i)" title="Play Row Retrograde">&#9664;</button>
         </th>
       </tr>
     </tbody>
     <tfoot>
       <tr>
         <th></th>
         <th></th>
         <th ng-repeat="j in [0,1,2,3,4,5,6,7,8,9,10,11]">
           <button class="play-btn" ng-class="{'playing': isPlayingColReverse(j)}" ng-click="playColReverse(j)" title="Play Column Retrograde">&#9650;</button>
         </th>
         <th></th>
       </tr>
     </tfoot>
   </table>

   <h2>Serie principal</h2>
   <div class="inputs-container">
     <input ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11]" class="note" ng-change='updateMatrix()' ng-model='s[i]'>
   </div>
   <button class="program" ng-click="random()"> random </button>
   <label class="bemoles-label">
     <input type="checkbox" ng-model="use_flats" ng-change="changeNotation()"> Usar bemoles
   </label>
  </div>
 </body>
</html>
